<footer>
    <div class="footer text-center py-3 bg-light">
        <a href="http://seattleconsultingmyanmar.com/en">Seattle Consulting Myanmar Co.,Ltd. All rights reserved. © Copyright</a>
    </div>
</footer>

<style>
.footer {
  bottom: 0;
  width: 100%;
}

</style>